.home {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    max-width: 100vw;
    gap: 50px;
}

body {
    margin: 0px;
}

.place-holder {
    min-width: 260px;
    height: 390px;
    background: #606060;
}

.image-container-with-border {
    border: 5px solid #1c9cf7;
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.image-container-without-border {
    display: flex;
    padding: 5px
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bold-header {
    font-weight: bold;
    color: #606060;
}

.active-header {
    color: white;
}

.link {
    text-decoration: none;
}



@media (max-width: 720px) {
    .item-image {
        width: 200px;
    }
}